<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Program</th>
    <th>GPA</th>
  </tr>
  {{#each students}}
    <tr>
      <td>{{this.studId}}</td>
      <td>{{this.name}}</td>
      <td>{{this.program}}</td>
      <td>{{this.gpa}}</td>
    </tr>
  {{/each}}
</table>