<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="header">
      <p class="header-name">Rodrigo Chavez / N01510943</p>
    </div>
    <div class="row">
    <div class="column1">
      {{> titleBar}}
    </div>
    <div class="column2">
      {{{body}}}
    </div>
    </div>
    <div class="footer">
      <p>rodrichavezm@gmail.com</p>
    </div>
  </body>
</html>